<div ng-controller="homtCtrl">
    <h3>JSON</h3>
		<input type="text" ng-model="jsonName"/>
			<button type="button" ng-click="jsonClick(jsonName)">Click me to save value in localStorage</button>
    <br>
    <br>
    <br>
		<button type="button" ng-click="jsonValue()">Show the store value</button>
    <br>
    <ul>
        <li ng-repeat="lst in jasonArray1 track by $index">{{lst}}</li>
    </ul>
</div>

<!--
//Storing data:
myObj = { "name":"John", "age":31, "city":"New York" };
myJSON = JSON.stringify(myObj);
localStorage.setItem("testJSON", myJSON);

//Retrieving data:
text = localStorage.getItem("testJSON");
obj = JSON.parse(text);
document.getElementById("demo").innerHTML = obj.name;-->