
<!--<ui-select ng-model="selected.value">
    <ui-select-match allow-clear="true">
        <span ng-bind="$select.selected.name"></span>
    </ui-select-match>
    <ui-select-choices  repeat="item in (itemArray | filter: $select.search) track by $index">
        <span ng-bind="item.name"></span>
    </ui-select-choices>
</ui-select>-->
<br>
<br>
<div ng-controller="homtCtrl">
<ui-select multiple ng-model="ctrl.multipleDemo" theme="bootstrap" ng-disabled="ctrl.disabled" close-on-select="false" style="width: 800px;" title="Choose a person">
    <ui-select-match placeholder="Select person...">{{$item.name}}</ui-select-match>
    <ui-select-choices repeat="item in (itemArray | filter: $select.search) track by $index">
      <div ng-bind-html="person.name | highlight: $select.search"></div>
      <small>
        Name: {{item.name}}
      </small>
    </ui-select-choices>
  </ui-select>
</div>