MouseDown:<button type="button" ng-mousedown="count1 = count1 + 1" ng-init="count1=0">Click me!->{{count1}}</Button>
<br>
MouseEnter:<button type="button" ng-mouseenter="count2 = count2 + 1" ng-init="count2=0">Click me!->{{count2}}</Button>
<br>
MouseLeave:<button type="button" ng-mouseleave="count3 = count3 + 1" ng-init="count3=0">Click me!->{{count3}}</Button>
<br>
MouseMove:<button type="button" ng-mousemove="count4 = count4 + 1" ng-init="count4=0">Click me!->{{count4}}</Button>
<br>
MouseOver:<button type="button" ng-mouseover="count5 = count5 + 1" ng-init="count5=0">Click me!->{{count5}}</Button>
<br>
MouseUp:<button type="button" ng-mouseup="count6 = count6 + 1" ng-init="count6=0">Click me!->{{count6}}</Button>
<br>
