<div class="row">
	<div class="col-md-3" ng-repeat="list in my.subjectList">
		<h1><a href="#!/subjectlist/{{list.lists}}">{{list.lists}}</a></h1>
	</div>
	<div class="col-md-3">
		<INPUT TYPE="image" src="c1.png" ALT="SUBMIT" data-toggle="modal" data-target="#myModal" style="width: 100px;height: 100px;">
	</div>
</div>

  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Enter Subject that want to you add</h4>
        </div>
        <div class="modal-body">
          <input type="text" class="form-control" ng-model="my.subject">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" ng-click="my.addSubject(my.subject)" data-dismiss="modal" >Submit</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>






























<!-- 
<div class="row">
	<div class="col-md-12">
		<input type="text" class="form-control" ng-model="my.question">	
	</div>	
</div>
<br>
<div class="row">
	<div class="col-md-3">
		<input type="text"  class="form-control" ng-model="my.option1">
	</div>

	<div class="col-md-3">
		<input type="text" class="form-control" ng-model="my.option2">
	</div>
	<div class="col-md-3">
		<input type="text" class="form-control" ng-model="my.option3">
	</div>
	<div class="col-md-3">
		<input type="text" class="form-control" ng-model="my.option4">
	</div>
</div>
<br>
<div class="row">
	<div class="col-md-6">
	<input type ="text"  class ="form-control" ng-model="my.answer">
	
	</div>

</div>
<button type="button" class="btn btn-warning"  ng-click="my.add()">Submit</button>
  -->