<h1 style="text-align: center;">{{headerName}}</h1>
<div class="row">
	<div class="col-sm-8">
		<input type="text" class="form-control" name="todoValue" [(ngModel)]="value">
	</div>
	<div class="col-sm-4">
		<button class="btn btn-block btn-primary" *ngIf="buttonValue" (click)="addTodo()">Add</button>
		<button class="btn btn-block btn-success" *ngIf="!buttonValue" (click)="updateTodo()">Update</button>
	</div>
</div>
<br>
<br>
<div>
	<ul class="list-group">
 		 <li class="list-group-item" *ngFor="let todo of todoValue;let i = index">
 		 	{{i+1}}.{{todo}}
 		 		<button class="buttonIcon" (click)="downTodo(i)" *ngIf="i != todoValue.length-1"><i class="material-icons">keyboard_arrow_down</i></button>
 		 		<button class="buttonIcon" (click)="upTodo(i)" *ngIf="i"><i class="material-icons">keyboard_arrow_up</i></button>
 		 		<button class="buttonIcon" (click)="deleteTodo(i)"><i class="material-icons">delete</i></button>
 		 		<button class="buttonIcon" (click)="editTodo(i)"><i class="material-icons">create</i></button>
  		 </li>
	</ul>
</div>
<div class="jumbotron" *ngIf="todoValue.length">
	<h3 >Total Todo : {{todoValue.length}}</h3>
</div>