<div class="row">
	<div class="col-sm-6">
		<button class="btn btn-block btn-primary" (click)=toggle()>SignIn</button>
	</div>
	<div class="col-sm-6">
		<button class="btn btn-block btn-primary" (click)=toggle()>SignUp</button>
	</div>
</div>

<form *ngIf="formValue">
  <div class="form-group">
    <label for="email">Email address:</label>
    <input type="email" class="form-control" name="email" [(ngModel)]="signIn.email">
  </div>
  <div class="form-group">
    <label for="pwd">Password:</label>
    <input type="password" class="form-control" name="pwd" [(ngModel)]="signIn.pwd">
  </div>
  <button type="submit" class="btn btn-default" (click)="signInButton()">SignIn</button>
</form>

<form *ngIf="!formValue">
	<div class="form-group">
    <label for="user">User Name:</label>
    <input type="text" class="form-control" name="user" [(ngModel)]="signUp.user">
  </div>
  <div class="form-group">
    <label for="email">Email address:</label>
    <input type="email" class="form-control" name="email" [(ngModel)]="signUp.email">
  </div>
  <div class="form-group">
    <label for="pwd">Password:</label>
    <input type="password" class="form-control" name="pwd" [(ngModel)]="signUp.pwd">
  </div>
  <button type="submit" class="btn btn-default" (click)="signUpButton()">SignUp</button>
</form>