
.box {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.navbar-inverse {
    background-color: royalblue !important;
}
.searchText{
  color: skyblue;
}
.cards{
	height:200px;
	background-color: aliceblue !important;
    border: 2px solid !important;
    border-radius: 15px !important;
    box-shadow: 4px 6px !important;
}
.img-rounded{
	border-radius: 50px !important;
    border: 1px solid royalblue;
    height: 88px;
    width: 88px;
}
body{
	background-color: #ada1ac;
  height: 100%;
}
.totalDetails{
	text-align: center;
}
.clickable{
	cursor: pointer;
}
.conta:hover .image {
  cursor: pointer;
}
.conta{
   cursor: pointer;
}
.conta:hover .caption {
  opacity: 1;
}
  .conta{
   opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
  }
  .caption {
  	width: 90%;
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.caption p{
color:white;
}
.ellips{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
}